<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whatsapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsApp"
        tools:targetApi="31">
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.Setting.ProfileSetting"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.ChatContainer.ChatsPage"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.firstScreen.SpashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.profile.SelectProfile"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.otpLogin.OtpVerfication"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.otpLogin.OtpSend"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".tablayout.MainActivity"
            android:exported="true" />
    </application>

</manifest>